.image-uploader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: auto;
  }
  
  .image-uploader-input {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-uploader-input input[type='file'] {
    display: none;
  }
  
  .image-uploader-input label {
    background-color: #fff;
    color: #555;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid #555;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .image-uploader-input label:hover {
    background-color: #555;
    color: #fff;
  }
  
  .image-preview-container {
    margin-bottom: 20px;
  }
  
  .image-preview {
    max-width: 300px;
    max-height: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
  }
  
  .process-button {
    background-color: #555;
    color: #fff;
    padding: 8px 16px;
    border-radius: 20px;
   
  }  