.Workshop-details{
    //background-color: #8D8DAA !important;
    grid-area: 6 / 1 / 7 / 2;
    justify-self: center;
    --column-width: 980px;
    --column-flex: 980;
    width: 150px;   
    margin-left: 5%;
    
    color: white;
}