.Workshop-details{
    background-color: rgb(32,35,37) !important;
    grid-area: 6 / 1 / 7 / 2;
    justify-self: start;
    --column-width: 980px;
    --column-flex: 980;
    width: 150px;   
    margin-left: 50%;
    color: white;
}