.Reviews-wrapper{
    height: 480px;
    object-fit: cover;
    position: relative;
    text-align: center;
    width: 89%;
    color: #f5f5f5;
    margin-top: 15% !important;
    margin-left: 6%;
}
.Reviews-header{
    text-align: center;
    line-height: 1.35em;
    font-size: 40px;
    padding-top: 13%;
    left: 20px;
    justify-self: start;
}
.Reviews-subheader{
    text-align: center;
    line-height: 1.35em;
}
.Reviews-content{
    text-align: center;
    line-height: 1.35em;
    font-size: 1em;
    padding-top: 5%;
    left: 20px;
    justify-self: start;
    max-width: 70%;
    position: relative;
    left: 18%;
    padding: 30px;
    
}
.Reviews-content p{
    line-height: 1.875em;
}
